/* Place CSS styles here */
body{
    background-color: rgb(228, 219, 233);
    color: rgb(8, 80, 62);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(8, 80, 62);
    margin-bottom: 0px;
    
    font-size: 36px;
}
h2{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(8, 80, 62);
    
}
h3 {font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(8, 80, 62);

}

.expe {

}

.expe h2 {margin-bottom: 0px;

}

.subheader {
    font-size: 20px;
    margin-top: 2px;
}
.dashed{font-size: 20px; margin-top: 0px;

}
.headerb{font-weight: 700;
    font-size: 15px;

}
.spacedmargin {margin-top: 10px;font-weight: 700;
    font-size: 15px;

}
.bottommargin {margin-top: 10px;font-weight: 700;
    font-size: 15px;

}
